@charset "utf-8";
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

:root {
  font-family: "NanumSquareNeo-Variable";
  --main_color: #112152;
  --sub1_color: #ffcc00;
  --sub2_color: #ffeeaa;
  --font_Nanum: "NanumSquareNeo-Variable";
  --font_Michroma: "Michroma";
}

img {
  width: 100%;
}
.mw {
  width: calc(100% - 2rem);
  max-width: 1350px;
  margin: auto;
}

.sec1 {
  width: 200%;
  display: flex;
}
.sec1_main {
  border: 1px solid red;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.sec1_sub {
  background-color: var(--sub1_color);
  width: 100%;
  border: 1px solid blue;
  /* display: none; */
}

/* bell */
.sec1_main .bells {
  /* border: 1px solid green; */
  width: 100%;
  margin: auto;
}
.sec1_main .bell {
  display: block;
  margin: auto;
  top: 50%;
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: var(--main_color);
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
  z-index: 5;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }
  1% {
    -moz-transform: rotate(30deg);
  }
  3% {
    -moz-transform: rotate(-28deg);
  }
  5% {
    -moz-transform: rotate(34deg);
  }
  7% {
    -moz-transform: rotate(-32deg);
  }
  9% {
    -moz-transform: rotate(30deg);
  }
  11% {
    -moz-transform: rotate(-28deg);
  }
  13% {
    -moz-transform: rotate(26deg);
  }
  15% {
    -moz-transform: rotate(-24deg);
  }
  17% {
    -moz-transform: rotate(22deg);
  }
  19% {
    -moz-transform: rotate(-20deg);
  }
  21% {
    -moz-transform: rotate(18deg);
  }
  23% {
    -moz-transform: rotate(-16deg);
  }
  25% {
    -moz-transform: rotate(14deg);
  }
  27% {
    -moz-transform: rotate(-12deg);
  }
  29% {
    -moz-transform: rotate(10deg);
  }
  31% {
    -moz-transform: rotate(-8deg);
  }
  33% {
    -moz-transform: rotate(6deg);
  }
  35% {
    -moz-transform: rotate(-4deg);
  }
  37% {
    -moz-transform: rotate(2deg);
  }
  39% {
    -moz-transform: rotate(-1deg);
  }
  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

/* wave */
.title-box {
  border: 1px solid red;
}
.wave {
  z-index: -1;
  opacity: 0.4;
  position: absolute;
  left: 42.2%;
  top: 35%;
  border: 10px solid var(--sub2_color);
  width: 300px;
  height: 300px;
  -webkit-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  border: 15px solid var(--sub1_color);
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg) scale(0, 0);
    transform: rotate(0deg) scale(0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg) scale(2, 2);
    transform: rotate(360deg) scale(2, 2);
    opacity: 0;
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg) scale(0, 0);
    transform: rotate(0deg) scale(0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg) scale(2, 2);
    transform: rotate(360deg) scale(2, 2);
    opacity: 0;
  }
}

/* sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2  */
.sec2 {
  border: 3px solid lime;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.sec2 h2 {
  border: 1px solid red;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font_Michroma);
  font-size: 1.5rem;
  margin: 2rem 0;
  color: var(--main_color);
  position: relative;
}
.sec2 h2:after {
  content: "";
  position: absolute;
  width: 140px;
  height: 7px;
  background-color: var(--sub2_color);
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -35%);
  z-index: -1;
}
.sec2_left {
  height: 100%;
  width: 50%;
  border: 3px solid pink;
  text-align: center;
}
.pic {
  border: 1px solid blue;
  height: 50%;
  display: flex;
  align-items: center;
}
.IDP {
  border: 6px solid var(--sub2_color);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 40px var(--sub1_color);
  margin: auto;
}
.sec2_text {
  height: 50%;
}
.sec2_right {
  border: 1px solid blue;
  width: 50%;
}
.cg {
  font-family: var(--font_Michroma);
  color: var(--main_color);
  margin: 1.5rem;
  position: relative;
  font-weight: bold;
}
.sec2_right span {
  margin: 1.5rem;
}
.cg::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--main_color);
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
}

.sec2_right .skills img {
  width: 100px;
  margin: 0.5rem;
}

/* sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3  */
.sec3 {
  border: 2px solid brown;
}
.sec3 h2 {
  border: 1px solid red;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font_Michroma);
  font-size: 1.5rem;
  margin: 2rem 0;
  color: var(--main_color);
  position: relative;
}
.sec3 h2:after {
  content: "";
  position: absolute;
  width: 140px;
  height: 7px;
  background-color: var(--sub2_color);
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -35%);
  z-index: -1;
}
.sec3 .con {
  display: flex;
}
.but {
  width: 100%;
}
.but > button {
  position: relative;
}
.button--moema {
  padding: 1.5em 3em;
  border-radius: 50px;
  background: var(--main_color);
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
  background: #eceff1;
  color: #37474f;
}
.button--moema::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #eceff1;
  background-color: #3f51b5;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
  color: #eceff1;
  background-color: #7986cb;
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
