@charset "utf-8";
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
:root {
  font-family: "NanumSquareNeo-Variable";
  --main_color: #112152;
  --sub1_color: #ffcc00;
  --sub2_color: #ffeeaa;
  --font_Nanum: "NanumSquareNeo-Variable";
  --font_Michroma: "Michroma";
  --font_Milonga: "Milonga";
}
html,
body {
  position: relative;
  /* height: 100%; */
}
.wrap {
  overflow: hidden;
}
/* floating */
.floating {
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
h2 {
  font-size: 2rem;
  /* border: 1px solid red; */
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: var(--font_Michroma);
  color: var(--main_color);
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.h2 {
  /* border: 1px solid green; */
  width: 100%;
  text-align: center;
  padding: 2rem;
}
h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: var(--sub2_color);
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -35%);
  z-index: -1;
}
/* 마우스효과 */
div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--sub2_color);
  border-radius: 50%;
  animation: clickEffect 1s ease-out;
  z-index: 5;
}
@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.3rem;
  }
  100% {
    opacity: 0.1;
    width: 10em;
    height: 10em;
    margin: -5em;
    border-width: 0.01rem;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100vh !important;
}
.pg {
  margin: 1rem;
}
.swiper-pagination-bullet {
  background-image: url(./img/bell/bellX.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: 0.5s;
  position: relative;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-image: url(./img/bell/bellmain.png);
}
/* 
.pg_text {
  color: black;
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  opacity: 1;
  z-index: 50;
  margin-top: 0.8rem;
}
.pg_text span {
  margin: 0.8rem;
  font-size: 0.8rem;
  height: 10px;
  color: #ffcc00;
}
.pg_text.on span {
  color: var(--main_color);
} */
img {
  width: 100%;
}
.mw {
  width: calc(100% - 2rem);
  max-width: 1600px;
  margin: auto;
}

.sec1 {
  /* width: 200%; */
  display: flex;
  overflow: hidden;
}
.sec1_main {
  /* border: 1px solid red; */
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* .sec1_main.on .bell {
  opacity: 0;
} */

.sec1_sub {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  /* border: 1px solid blue; */
  color: white;
  display: none;
  transition: 3s;
}
.sec1_sub.on {
  display: block;
  z-index: 50;
}

.sub_text {
  /* border: 1px solid red; */
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec1_sub h1 {
  font-size: 7rem;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px;
  font-family: var(--font_Milonga);
}
.sec1_sub p {
  font-size: 1.5rem;
  color: white;
}
/* scroll */
.sec1_sub .scrolldown {
  /* border: 1px solid red; */
  position: absolute;
  bottom: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
}

.sec1_sub .scrolldown:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2px;
  height: 10px;
  background-color: white;
  animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 22px);
  }
}
/* bell */
.sec1_main .bells {
  /* border: 1px solid green; */
  margin: auto;
  position: relative;
}
.bell > span {
  font-size: 0.9rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec1_main .bell {
  cursor: pointer;
  display: block;
  margin: auto;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: var(--main_color);
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 7s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
  z-index: 5;
  transition: 2s;
}
.bell.on {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  z-index: 9999 !important;
}
.bell.on span {
  opacity: 0;
}
.bell @-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }
  1% {
    -moz-transform: rotate(30deg);
  }
  3% {
    -moz-transform: rotate(-28deg);
  }
  5% {
    -moz-transform: rotate(34deg);
  }
  7% {
    -moz-transform: rotate(-32deg);
  }
  9% {
    -moz-transform: rotate(30deg);
  }
  11% {
    -moz-transform: rotate(-28deg);
  }
  13% {
    -moz-transform: rotate(26deg);
  }
  15% {
    -moz-transform: rotate(-24deg);
  }
  17% {
    -moz-transform: rotate(22deg);
  }
  19% {
    -moz-transform: rotate(-20deg);
  }
  21% {
    -moz-transform: rotate(18deg);
  }
  23% {
    -moz-transform: rotate(-16deg);
  }
  25% {
    -moz-transform: rotate(14deg);
  }
  27% {
    -moz-transform: rotate(-12deg);
  }
  29% {
    -moz-transform: rotate(10deg);
  }
  31% {
    -moz-transform: rotate(-8deg);
  }
  33% {
    -moz-transform: rotate(6deg);
  }
  35% {
    -moz-transform: rotate(-4deg);
  }
  37% {
    -moz-transform: rotate(2deg);
  }
  39% {
    -moz-transform: rotate(-1deg);
  }
  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.radius {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  transition: 4s;
}
.radius.on {
  transform: scale(40);
  z-index: 5;
}
.place {
  background: var(--sub1_color);
  z-index: 2;
}
.radius .border-animation,
.place {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
}
.radius .border-animation {
  animation-name: rounder;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background: var(--sub2_color);
  z-index: 1;
}
.ba2 {
  animation-delay: 0.3s;
}
.ba3 {
  animation-delay: 0.6s;
}

@keyframes rounder {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(7);
    opacity: 0;
  }
}

/* sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2  */
.sec2 {
  /* border: 1px solid lime; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
}

.sec2_left {
  /* height: 50%; */
  width: 50%;
  /* border: 1px solid pink; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pic {
  /* border: 1px solid green; */
  height: 50%;
  display: flex;
  align-items: center;
}
.IDP {
  border: 6px solid var(--sub2_color);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 40px var(--sub1_color);
  margin: auto;
}
.sec2_text {
  /* border: 1px solid red; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec2_text p {
  font-size: 2rem;
  line-height: 2rem;
}
.sec2_text span:first-of-type {
  font-size: 1rem;
  /* border: 1px solid red; */
}
.sec2_text p:first-of-type {
  /* line-height: 2rem; */
  padding-bottom: 2rem;
}
.sec2_text p:last-of-type {
  line-height: 3rem;
}
.sec2_text span:last-of-type {
  color: var(--main_color);
  font-size: 1.5rem;
}
.sec2_text strong {
  color: #f4aa08;
}
.ring {
  font-family: var(--font_Milonga);
  line-height: 2rem;
}

/* right */

.sec2_right {
  /* border: 1px solid blue; */
  width: 50%;
}
.cg {
  /* border: 1px solid red; */
  font-family: var(--font_Michroma);
  color: var(--main_color);
  margin: 0 1rem;
  /* padding: 1rem 0; */
  position: relative;
  font-weight: bold;
}
.cg:nth-of-type(2),
.cg:nth-of-type(3) {
  padding-top: 1rem;
}
.sec2_right span {
  margin: 1.5rem;
}
.cg::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--main_color);
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
}

.sec2_right .skills img {
  width: 70px;
  margin: 0.5rem;
  animation: v 1s alternate infinite ease-in-out;
}
@keyframes v {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
.skills p {
  margin: 0 1.5rem;
}
/* sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3 sec3  */
.sec3 {
  /* border: 1px solid brown; */
  /height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.sec3 .con {
  display: flex;
  justify-content: center;
  /* border: 1px solid skyblue; */
  align-items: center;
  /* height: 70%; */
}
.sec3 .con li {
  display: flex;
  justify-content: center;
  height: 100%;
}
.mockup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid green; */
  position: relative;
}
.mockup::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  opacity: 0;
}
.mockup:hover::after {
  opacity: 1;
}

.mockup_text {
  font-size: 1.5rem;
  position: absolute;
  color: white;
  /* z-index: 50; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  /* transition: 1s; */
  width: 100%;
}
.mockup:hover .mockup_text {
  /* position: fixed; */
  display: block;
}
.mockup:hover img {
  filter: blur(3px);
}
.mockup_text li {
  transition: 1s;
  transform: translateX(150px);
  opacity: 0;
}
.mockup:hover .mockup_text li {
  transition: 1s;
  transform: translateX(0);
  opacity: 1;
}
.mockup:hover .mockup_text li:nth-of-type(1) {
  transition-delay: 0.2s;
}
.mockup:hover .mockup_text li:nth-of-type(2) {
  transition-delay: 0.4s;
}
.mockup:hover .mockup_text li:nth-of-type(3) {
  transition-delay: 0.6s;
}
.mockup:hover .mockup_text li:nth-of-type(4) {
  transition-delay: 0.8s;
}
.mockup:hover .mockup_text li:nth-of-type(5) {
  transition-delay: 1s;
}

.mockup img {
  /* border: 1px solid blue; */
  display: block;
  padding-bottom: 2rem;
  width: 120%;
  z-index: -1;
}
.mockup:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(17, 33, 82, 0.2),
    0 6px 20px 0 rgba(17, 33, 82, 0.15);
  content: "";
  opacity: 0;
  z-index: -1;
}
.mockup:hover,
.mockup:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.mockup:hover::after,
.mockup:focus::after {
  opacity: 1;
}
.outline span {
  position: absolute;
  background: var(--sub1_color);
}
.outline span:nth-child(1) {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  transition: 0.3s;
}
.outline span:nth-child(2) {
  right: 0;
  top: 0;
  width: 1px;
  height: 0;
  transition: 0.3s linear;
}
.outline span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: 0.3s linear;
}
.outline span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 0;
  transition: 0.3s linear;
}
.mockup:hover .outline span:nth-child(1) {
  width: 100%;
}
.mockup:hover .outline span:nth-child(2) {
  height: 100%;
}
.mockup:hover .outline span:nth-child(3) {
  width: 100%;
}
.mockup:hover .outline span:nth-child(4) {
  height: 100%;
}
/* 버튼 */
.btns {
  position: absolute;
  bottom: 0;
  /* border: 1px solid red; */
  padding-bottom: 2rem;
}
.btn1,
.btn2,
.btn3 {
  border: none;
  border-radius: 20px;
  /* display: block; */
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: var(--sub1_color);
  width: 100px;
  height: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  font-weight: bolder;
  margin: 0 0.5rem;
}
.btn2 {
  background-color: white;
  border: 1px solid var(--main_color);
  color: var(--main_color);
}
.btn3 {
  background-color: var(--main_color);
}
.btn1:hover {
  background-color: var(--main_color);
}
.btn2:hover {
  background-color: var(--main_color);
  color: white;
}
.btn3:hover {
  background-color: var(--sub1_color);
  color: var(--main_color);
  border: 1px solid var(--main_color);
}
/* sec4  sec4  sec4  sec4  sec4  sec4  sec4  sec4  sec4  sec4  */
.sec4 {
  border: 1px solid red;
  width: 100%;
  height: 30vh !important;
}
.sec4_con {
  text-align: center;
}
/*  */

@media (max-width: 1200px) {
  .sec3 .con {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .btns:last-of-type {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .sec2_left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
  }
  .pic {
    width: 50%;
  }
  .sec2_text {
    width: 50%;
  }
  .sec2_text p {
    line-height: 1.4;

    font-size: 0.75rem;
  }
  .sec2_right {
    width: 100%;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: 1rem;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
  }
  span,
  p {
    font-size: 0.75rem;
  }
  .cg::before {
    width: 2px;
    height: 2px;
  }
  .pic .IDP {
    width: 120px;
    height: 120px;
  }
  .sec2_text {
    line-height: 1;
  }
  .cg {
    margin: 1rem;
  }
  .pg {
    display: none;
  }

  .mockup img,
  .btns {
    padding-bottom: 0.5rem;
  }
  .mockup {
    width: 84%;
  }
  .btn1,
  .btn2,
  .btn3 {
    margin: 0;
    width: 90px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .sec2 {
  }
  .sec2_right {
    line-height: 1.2;
  }
  .IDP {
  }
  .sec2_right .skills img {
    width: 50px;
  }
}
